* {box-sizing: border-box}
body {
  background-image: url('Sol.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
}

.navbar {
  background-color: rgb(86, 141, 204);
  overflow: auto;
  align-items: flex-start;
  border-radius: 10px;
}

.navbar a {
  float: left;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 50%;
  text-align: center;
}

.navbar a:hover {
  background-color: rgb(47, 79, 116);
}

.navbar a.active {
  background-color:rgb(146, 177, 212);
}

.container {
  width:60%;
  height:80%;
  background: white;
  border-radius: 30px;
}